<div class="page">

    <h2 class="page-title">Configuración del Sistema</h2>

    <div class="card form-card">

        <div class="form-grid">

            <div class="input-group">
                <input type="number" id="stockMinimo">
                <label>Stock Mínimo</label>
            </div>

            <div class="input-group">
                <input type="text" id="nombreTienda">
                <label>Nombre de la Tienda</label>
            </div>

        </div>

        <button class="btn-primary" id="btnGuardarConfig">
            Guardar Configuración
        </button>

    </div>

</div>
